:root {
  --fundo: rgb(65, 241, 227);
  --iro: var(--fundo);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  max-width: 247px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--iro);
  position: relative;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 27px 0;
}

.logo img {
  position: absolute;
  width: 85%;
  height: 85%;
}

.titulo {
  color: var(--iro);
}

form {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  color: var(--iro);
}

form .input {
  margin: 15px 0;
  height: 45px;
  padding-left: 15px;
  font-size: 25px;
  border: none;
  outline: none;
  line-height: 100%;
  border-radius: 5px;
}

form input:focus {
  box-shadow: 0 0 15px 2px var(--iro);
}

form .button {
  height: 45px;
  border: 0;
  border-radius: 5px;
  margin-top: 27px;
  font-size: 25px;
  background-color: var(--iro);
  color: #000;
  transition: all .3s ease;
}

form .button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 3px #ffffffaa;
}