* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-serif;
}

div#root {
    height: 100vh;
    max-width: 747px;
}

body {
    height: 100vh;
    background-color: #22272e;
    display: flex;
    justify-content: center;
    align-items: center;
}